<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.coder.neighborhood"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.LauncherActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.user.LoginActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.user.RegisterActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
                  android:screenOrientation="portrait"/>


        <!--二手市场-->
        <activity
            android:name=".activity.home.SecondHandMarketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--邻里直播-->
        <activity
            android:name=".activity.home.LivingListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--邻里旅行-->
        <activity android:name=".activity.home.TravelActivity"
                  android:screenOrientation="portrait"/>

        <!--邻里帮帮-->
        <activity
            android:name=".activity.home.HelpActivity"
            android:screenOrientation="portrait"/>
        <!--寻物启示-->
        <activity android:name=".activity.home.FindThingsActivity"
                  android:screenOrientation="portrait"/>

        <!--发布问题-->
        <activity android:name=".activity.home.PublishQuestionActivity"
                  android:screenOrientation="portrait"/>

        <!--发布带图片的问题-->
        <activity android:name=".activity.home.PublishPicQuestionActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--直播认证-->
        <activity android:name=".activity.home.LivingCertificationActivity"
                  android:screenOrientation="portrait"/>
        <!--直播详情界面-->
        <activity android:name=".activity.home.LivingDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--商品详情-->
        <activity android:name=".activity.mall.GoodsDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--评价详情-->
        <activity android:name=".activity.mall.CommentDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--我的订单-->
        <activity android:name=".activity.mall.OrderStatusActivity"
                  android:screenOrientation="portrait"/>

        <!--好友中心-->
        <activity android:name=".activity.user.GoodFriendsActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--支付显示页面-->
        <activity android:name=".activity.mall.PayShowActivity"
                  android:screenOrientation="portrait"/>

        <!--代取快递-->
        <activity android:name=".activity.home.TakeDeliveryActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--用户认证-->
        <activity android:name=".activity.user.UserAuthenticationActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--关于我们-->
        <activity android:name=".activity.user.AboutUsActivity"
                  android:screenOrientation="portrait"/>

        <!--个人信息-->
        <activity android:name=".activity.user.UserInfoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--好友信息-->
        <activity android:name=".activity.user.FriendsInfoActivity"
                  android:screenOrientation="portrait"/>

        <!--客服中心-->
        <activity android:name=".activity.user.CustomerServiceActivity"
                  android:screenOrientation="portrait"/>

        <!--购物车-->
        <activity android:name=".activity.mall.CartActivity"
                  android:screenOrientation="portrait"/>

        <!--旅游详情-->
        <activity android:name=".activity.home.TravelDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--帮帮详情-->
        <activity android:name=".activity.home.HelpDetailActivity"
                  android:screenOrientation="portrait"/>


        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY" android:value="1124171210178033#wanjialinli"/>
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
                 android:exported="true"
                 android:permission="android.permission.BIND_JOB_SERVICE"
        />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
                  android:screenOrientation="portrait"/>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8"/>

        <!--寻物启事详情-->
        <activity android:name=".activity.home.ThingDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--修改密码-->
        <activity android:name=".activity.user.ModifyPasswordActivity"
                  android:screenOrientation="portrait"/>

        <!--反馈问题-->
        <activity android:name=".activity.home.FeedBackQuestionActivity"
                  android:screenOrientation="portrait"/>

        <!--二手商品添加-->
        <activity android:name=".activity.mall.AddSecondHandActivity"
                  android:screenOrientation="portrait"/>

        <!--聊天-->
        <activity android:name=".activity.message.ChatActivity"
                  android:screenOrientation="portrait"/>

        <!--发布圈消息-->
        <activity android:name=".activity.circle.PublishCircleActivity"
                  android:screenOrientation="portrait"/>

        <!--发布事件-->
        <activity android:name=".activity.circle.PublishEventActivity"
                  android:screenOrientation="portrait"/>
        <!--发布活动-->
        <activity android:name=".activity.circle.PublishDoingThingActivity"
                  android:screenOrientation="portrait"/>

        <!--事件详情-->
        <activity android:name=".activity.circle.EventDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--活动详情-->
        <activity android:name=".activity.circle.DoingsDetailActivity"
                  android:screenOrientation="portrait"/>


    </application>

</manifest>